body {
  font-family: Roboto, sans-serif;
}

.title {
  font-family: 'Special Elite', cursive;
  text-align: center;
  margin-top: 2rem;
  font-size: 6rem;
}

a {
  text-decoration: none;
  color: black;
}

/* a:visited {
  color: none;
} */

label {
  display: block;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.single-product {
  width: 60em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  margin: 10px;
  border: 3px solid black;
}

#allProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-card {
  border: 3px solid black;
  margin: 10px;
  flex: 1 0 20%;
}

/* Routes Navbar.js */
.activeLink {
  font-weight: bold;
  color: palevioletred;
}

.inputIncorrect {
  border: 3px solid palevioletred;
}

.inputCorrect {
  border: 3px solid aquamarine;
}

/* Auth Form */

.authForm {
  margin: 0 auto;
  color: white;
  position: relative;
}

.loginPic {
  /* height: 500px; */
  position: absolute;
  z-index: -1;
  filter: blur(0.5rem);
  /* width: 500px; */
}

.auth-form {
  margin: 0 auto;
  width: 600px;
}

.auth-form > div {
  margin-top: 5rem;
}

.checkout-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cart-summary {
  flex: 1.5;
}

.shipping-info {
  flex: 1;
}

.billing-info {
  flex: 1;
}
