body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.single-product {
  width: 60em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
