body {
  font-family: Roboto, sans-serif;
}

button {
  border-radius: 0.25rem;
  background: transparent;
}

.s-e {
  font-family: 'Special Elite', cursive;
}

.title {
  font-family: 'Special Elite', cursive;
  text-align: center;
  margin-top: 2rem;
  font-size: 6rem;
}

a {
  text-decoration: none;
  color: black;
}

/* a:visited {
  color: none;
} */

label {
  display: block;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-container {
  display: flex;
}

/* form div {
  margin: 1em;
  display: inline-block;
} */

.single-product {
  width: 60em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  border-radius: 4px;
}

#allProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Routes Navbar.js */
.activeLink {
  font-weight: bold;
  color: palevioletred;
}

.inputIncorrect {
  border: 3px solid palevioletred;
}

.inputCorrect {
  border: 3px solid aquamarine;
}

/* Auth Form */

/* #authform {
  display: flex;
  flex-direction: column;
}

#subauth {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#subauth div {
  display: flex;
  flex-direction: column;
}
#subauth div > * {
  margin-bottom: 0.5rem;
}

.authForm {
  color: white;
}

.bar-lady {
  background-image: url(./woman-bar.jpg);
  height: 90vh;
  filter: blur(0.5rem);
  z-index: 2;
}


.opacity {
  border: 1px solid lightblue;
  height: 20rem;
  overflow: hidden;
  z-index: 10;
  position: fixed;
  top: calc(50vh - 200px);
  left: calc(50vw - 400px);
  padding: 2rem;
  width: 800px;
}

.auth-form {
  margin: 0 auto;
  width: 400px;
}

.auth-form > div {
  margin-top: 5rem;
} */

.checkout-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cart-summary {
  flex: 1.5;
}

.shipping-info {
  flex: 1;
}

.billing-info {
  flex: 1;
}

#single-product-quantity {
  display: flex;
}

/* Search.js */

.searchInput {
  border: 1px solid rgb(209, 195, 195);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.searchCategory {
  font-size: small;
  font-style: italic;
}

#productImage {
  max-height: 300px;
  max-width: 300px;
}

/* table,
th,
td {
  border: 1px solid black;
}

/* Landing */
.hot {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 90vw;
}

.trending {
  text-align: center;
}

#divider {
  height: 2rem;
}
*/ #carouselImg {
  max-height: 80rem;
  max-width: 110rem;
}
